// SINGLE WORKSHOP ========================================================================================================================================================
.related {
    &__container {
    }

    &__title {
        @include adaptiveValue("margin-bottom", 50, 25);
        font-weight: 400;
        max-width: rem(670);
    }

    &__body {
        display: flex;
        gap: rem(20);
        @media (max-width: $tablet) {
            overflow: auto;
            @include scrollbars(rem(10), $blue, $white, true);
        }
    }

    &__item {
        flex: 0 0 rem(360);
        @media (max-width: $tablet) {
            flex: 0 0 30%;
        }
        @media (max-width: $mobile) {
            flex: 0 0 45%;
        }
        @media (max-width: $mobileSmall) {
            flex: 0 0 80%;
        }
    }
}
// </SINGLE WORKSHOP>=======================================================================================================================================================

.body-workshop {
    &__container {
        @media (min-width: $tablet) {
            display: flex;
            @include adaptiveValue("gap", 100, 30, 1640, 1300, 1);
        }
    }

    &__content {
        flex: 1 1 auto;
        min-width: 0;
        @media (max-width: $tablet) {
            @include adaptiveValue("margin-bottom", 50, 30, 991.98, 320, 1);
        }
    }
    &__aside {
        flex: 0 0 rem(400);
    }
}

//========================================================================================================================================================

.content-workshop {
    &__logo {
        display: flex;
        align-items: center;
        @include adaptiveValue("margin-bottom", 50, 30);
    }

    &__image-logo {
        margin-right: rem(20);
        flex: 0 0 rem(64);
        img {
            max-width: 100%;
        }
    }

    &__title {
        flex: 1 1 auto;
        @extend %h2;
        font-weight: 400;
    }

    &__subtitle {
        @extend %h5;
        @include adaptiveValue("font-size", 22, 18);
        @include adaptiveValue("margin-bottom", 50, 30);
    }

    &__video-wrap {
        position: relative;
        @include adaptiveValue("height", 510, 300);
        border: rem(1) solid $light;
        box-shadow: rem(1) rem(4) rem(44) rgba(0, 0, 0, 0.03);
        border-radius: rem(9);
        cursor: pointer;
        overflow: hidden;
        @include adaptiveValue("margin-bottom", 50, 30);
        @media (any-hover: hover) {
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: $black;
                z-index: 2;
                opacity: 0.5;
                transition: opacity 0.5s ease 0s;
                pointer-events: none;
            }
            &:hover {
                &::after {
                    opacity: 0;
                }
            }
        }
        &._playing {
            &::after {
                opacity: 0 !important;
            }
        }
    }

    &__text {
        font-size: rem(15);
        line-height: math.div(27, 15);
        letter-spacing: -0.0035em;
        color: $text_4;
        @include adaptiveValue("margin-bottom", 50, 30);
        @media (min-width: $tablet) {
            max-width: rem(900);
        }
        p {
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 30, 15);
            }
        }
    }

    &__slider {
        position: relative;
    }

    &__swiper {
        border-radius: rem(10);
    }

    &__slide-ibg {
        @include adaptiveValue("height", 420, 250);
    }

    &__pagination {
        position: absolute;
        height: rem(34);
        padding: rem(5) rem(16);
        @include adaptiveValue("bottom", 25, 10);
        @include adaptiveValue("right", 25, 10);
        background-color: $white;
        border-radius: rem(60);
        display: flex;
        align-items: center;
        gap: rem(6);
        .swiper-pagination-bullet {
            cursor: pointer;
            width: rem(8);
            height: rem(8);
            background: $text_1;
            opacity: 0.2;
            transition: opacity 0.8s ease 0s;
            border-radius: 50%;
            @media (any-hover: hover) {
                &:hover {
                    opacity: 0.5;
                }
            }
            &.swiper-pagination-bullet-active {
                width: rem(14);
                height: rem(14);
                opacity: 1;
            }
        }
    }
}

//========================================================================================================================================================

.aside-single {
    &__search {
        @media (min-width: $tablet) {
            @include adaptiveValue("margin-bottom", 40, 20);
        }
    }

    &__price {
        box-shadow: rem(1) rem(4) rem(44) rgba(0, 0, 0, 0.03);
        @include adaptiveValue("margin-bottom", 30, 20);
    }

    &__text {
        @include adaptiveValue("margin-bottom", 30, 20);
        @extend %p;
        color: $text_4;
        text-align: center;
        @media (min-width: $mobileSmall) {
            padding: 0px rem(20);
        }
    }

    &__info {
        box-shadow: rem(1) rem(4) rem(44) rgba(0, 0, 0, 0.03);
        @media (max-width: $tablet) {
            @include adaptiveValue("margin-bottom", 40, 20);
        }
    }
}

.search-workshop {
    &__text {
        text-align: center;
        @extend %p;
        color: $text_4;
        margin-bottom: rem(20);
    }

    &__form {
        display: flex;
        align-items: center;
        position: relative;
        ._input__error {
            @extend %p;
            color: $error;
            @media (min-width: $mobileSmall) {
                position: absolute;
                margin-top: rem(5);
                top: 100%;
                left: 0;
            }
            @media (max-width: $mobileSmall) {
                margin: rem(-10) 0 rem(5) 0;
            }
        }
        @media (max-width: $mobileSmall) {
            flex-wrap: wrap;
        }
    }

    &__input {
        @media (max-width: $tablet) {
            min-height: rem(65);
        }
        @media (min-width: $mobileSmall) {
            flex: 1 1 auto;
            border-radius: rem(7) 0px 0px rem(7);
            border-right: none;
        }
        @media (max-width: $mobileSmall) {
            margin-bottom: rem(15);
            flex: 1 1 100%;
            min-height: rem(50);
        }
    }

    &__btn {
        @media (min-width: $mobileSmall) {
            flex: 0 0 rem(132);
            border-radius: 0px rem(7) rem(7) 0px;
        }
        @media (max-width: $tablet) {
            min-height: rem(65);
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
            min-height: rem(50);
        }
    }
}

.price-workshop {
    background-color: $white;

    &__top {
        border-radius: rem(10) rem(10) 0 0;
        background-color: $blue;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: rem(80);
        padding: rem(10) rem(25);
        color: $white;
        @media (max-width: em(1300)) {
            padding: rem(5) rem(20);
        }
        @media (max-width: $mobileSmall) {
            padding: rem(5) rem(10);
            min-height: rem(60);
        }
    }

    &__title {
        @extend %p;
    }

    &__price {
        text-align: right;
        @extend %h3;
    }

    &__list {
        border: rem(1) solid $light;
    }

    &__item {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        gap: rem(15);
        padding: rem(5) rem(20) rem(5) rem(30);
        min-height: rem(65);
        &:not(:last-child) {
            border-bottom: rem(1) solid $light;
        }
        @media (max-width: em(1300)) {
            padding: rem(5) rem(20);
        }
        @media (max-width: $mobileSmall) {
            padding: rem(5) rem(10);
            min-height: rem(60);
        }
        .checkbox {
            width: 100%;
        }
    }

    &__total {
        background: rgba(15, 175, 233, 0.1);
        border: rem(1) solid $light;
        padding: rem(25) rem(25) rem(25) rem(30);
        @media (max-width: em(1300)) {
            padding: rem(20);
        }
        @media (max-width: $mobileSmall) {
            padding: rem(20) rem(10);
        }
    }

    &__price-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @extend %p;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 20, 15);
        }
    }

    &__label {
        color: $text_4;
        flex: 0 1 60%;
    }

    &__value {
        color: $secondary;
        flex: 0 1 40%;
        text-align: right;
        &_total {
            @extend %p-lead_bold;
            color: $blue;
        }
    }

    &__btn-wrap {
        padding: rem(25) rem(25) rem(25) rem(30);
        border: rem(1) solid $light;
        border-top: none;
        border-radius: 0px 0px rem(10) rem(10);
        @media (max-width: em(1300)) {
            padding: rem(20);
        }
        @media (max-width: $mobileSmall) {
            padding: rem(10);
        }
    }

    &__btn {
        width: 100%;
        @media (max-width: $tablet) {
            min-height: rem(65);
        }
        &._inCart {
            background-color: $error;
            border: rem(1) solid $error;
            @media (any-hover: hover) {
                &:hover {
                    background-color: rgba(255, 31, 15, 0.1);
                    color: $error;
                }
            }
        }
    }
}

.info-workshop {
    border-radius: rem(10);
    overflow: hidden;
    border: rem(1) solid $light;
    &__item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        align-items: center;
        gap: rem(20);
        min-height: rem(65);
        padding: rem(5) rem(30);
        @extend %p;
        &:not(:last-child) {
            border-bottom: rem(1) solid $light;
        }
        @media (max-width: em(1300)) {
            padding: rem(5) rem(20);
        }
        @media (max-width: $mobileSmall) {
            padding: rem(5) rem(10);
            min-height: rem(60);
        }
    }

    &__label {
        color: $text_4;
    }

    &__value {
        text-align: right;
        color: $text_1;
        span:not(:last-child) {
            &::after {
                content: ", ";
            }
        }
    }
}
