//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
    display: inline-flex;
    padding: 0px 0px;
    @media (any-hover: hover) {
        &:hover {
        }
    }
    &._fw {
        width: 100%;
    }
}

//========================================================================================================================================================

//<BUTTONS (a.btn+tab)>====================================================================================================
.btn {
    display: inline-flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    @extend .p;
    text-transform: uppercase;
    background-color: $blue;
    border-radius: 10px;
    min-height: 60px;
    color: $white;
    border: 1px solid $blue;
    transition: all 0.3s ease 0s;
    @media (max-width: $md2+px) {
        min-height: 50px;
    }
    @media (any-hover: hover) {
        &:hover {
            background-color: rgba(15, 175, 233, 0.1);
            color: $blue;
        }
    }
    &_outline {
        background-color: rgba(15, 175, 233, 0.1);
        color: $blue;
        @media (any-hover: hover) {
            &:hover {
                background-color: $blue;
                color: $white;
            }
        }
    }
}
//</BUTTONS>====================================================================================================
