.checkbox {
    position: relative;
    // .checkbox__input
    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        &:focus + .checkbox__label {
            color: $blue;
        }
        &:checked + .checkbox__label:before {
            top: rem(3);
            background: url("../../../assets/img/icons/square-check.svg") 0 0 no-repeat;
        }
    }
    // .checkbox__label
    &__label {
        cursor: pointer;
        display: flex;
        align-items: center;
        position: relative;
        gap: rem(15);
        color: $secondary;
        transition: color 0.3s ease 0s;
        &:before {
            content: "";
            position: relative;
            background: url("../../../assets/img/icons/square.svg") 0 0 no-repeat;
            align-self: flex-start;
            flex: 0 0 rem(16);
            left: 0;
            top: rem(4);
            width: rem(16);
            height: rem(16);
            overflow: hidden;
        }
        @media (any-hover: hover) {
            &:hover {
                color: $blue;
            }
        }
    }

    // .checkbox__text
    &__text {
        @extend %p;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: rem(10);
    }

    &._error {
        .checkbox__text {
            &:before {
                border: rem(1) solid $error;
            }
        }
    }
}

//========================================================================================================================================================
