//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
    border: rem(1) solid $light;
    -webkit-text-fill-color: $mainColor;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

.input {
    @extend %p;
    align-items: center;
    width: 100%;
    display: flex;
    padding: rem(5) rem(25) rem(5) rem(20);
    border-radius: rem(7);
    min-height: rem(60);
    border: rem(1) solid $light;
    background-color: $white;
    transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
    @media (max-width: $tablet) {
        min-height: rem(50);
    }
    &::placeholder {
        transition: color 0.3s ease 0s;
        color: $text_3;
    }

    &:focus {
        outline: white solid rem(1);
        border: rem(1) solid $blue !important;
    }

    &._error,
    &._incorrect {
        border: rem(1) solid $error !important;
    }
}

textarea.input {
    resize: none;
    padding: 0px 0px;
}
