//<QUANTITY>
// Снипет (HTML): qa
.quantity {
    display: flex;
    justify-content: center;
    // .quantity__button
    &__button {
        flex: 0 0 rem(15);
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (any-hover: hover) {
            opacity: 0;
            transition: opacity 0.3s ease 0s;
        }
        img {
            width: rem(16);
        }
        // .quantity__button_plus
        &_plus {
            transform: rotate(-90deg);
        }
        // .quantity__button_minus
        &_minus {
            transform: rotate(90deg);
        }
    }
    // .quantity__input
    &__input {
        flex: 0 0 rem(30);
        input {
            outline: none;
            height: 100%;
            width: 100%;
            color: $secondary;
            text-align: center;
        }
    }
}
