// Общий файл элементов форм
// Для подключения/отключения стилей конкретного єлемента формы смотри base/forms/forms.scss
@import "base/forms/forms";

// Стили swiper
@import "base/swiper";

// Стили для отзывчивых картинок (IBG)
// Сниппет (HTML): ibg (div c картинкой и классами)
// Сниппет (HTML): ibga (a c картинкой и классами)
[class*="-ibg"] {
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}
[class*="-ibg_contain"] {
    img {
        object-fit: contain;
    }
}

// Адаптивное видео
%responsiveVideo {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%;
    video,
    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

%no-highlight {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

//========================================================================================================================================================

h1,
%h1 {
    font-weight: 700;
    @include adaptiveValue("font-size", 45, 25, 1640, 767.98, 1);
    line-height: math.div(54, 45);
    letter-spacing: -0.0088em;
}

h2,
%h2 {
    font-weight: 700;
    @include adaptiveValue("font-size", 35, 25, 1640, 767.98, 1);
    line-height: math.div(44, 35);
    letter-spacing: -0.0068em;
}

h3,
%h3 {
    font-weight: 600;
    @include adaptiveValue("font-size", 30, 20, 1640, 767.98, 1);
    line-height: math.div(39, 30);
    letter-spacing: -0.0058em;
}

h4,
%h4 {
    @include adaptiveValue("font-size", 25, 18, 1640, 767.98, 1);
    line-height: math.div(34, 25);
    letter-spacing: -0.0058em;
}

h5,
%h5 {
    @include adaptiveValue("font-size", 18, 15, 1640, 767.98, 1);
    line-height: math.div(27, 18);
    letter-spacing: -0.0035em;
}

h6,
%h6 {
    font-weight: 600;
    font-size: rem(12);
    line-height: math.div(21, 12);
    letter-spacing: 0.0112em;
    text-transform: uppercase;
}

//========================================================================================================================================================

%p {
    font-size: rem(15);
    line-height: math.div(24, 15);
    letter-spacing: -0.0033em;
}

%p-lead {
    @include adaptiveValue("font-size", 20, 18, 1640, 767.98, 1);
    line-height: math.div(29, 20);
    letter-spacing: -0.0033em;
}

%p-lead_thin {
    @extend %p-lead;
    font-weight: 300;
}

%p-lead_bold {
    @extend %p-lead;
    font-weight: 700;
}

//========================================================================================================================================================

%field-error {
    font-size: rem(13);
    line-height: math.div(22, 13);
    letter-spacing: -0.0033em;
}

%cart-number {
    position: absolute;
    bottom: rem(-2);
    right: rem(-2);
    height: rem(12);
    width: rem(12);
    background-color: $error;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    font-weight: 500;
    font-size: rem(8);
    color: $white;
    @media (max-width: $tablet) {
        bottom: rem(-5);
        right: rem(-5);
        height: rem(16);
        width: rem(16);
        font-size: rem(10);
    }
}
