.page404 {
    @include adaptiveValue("padding-top", 144, 60, 1170, 600.98, 1);
    @include adaptiveValue("padding-bottom", 144, 100, 1170, 600.98, 1);
    text-align: center;

    &__container {
    }

    &__title {
        @extend %h1;
        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }

    &__label {
        @extend %text_md;
        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }

    &__button {
        min-width: rem(160);
        min-height: rem(56);
        @media (max-width: $mobileSmall) {
            width: 100%;
        }
    }
}

//========================================================================================================================================================

.spinner {
    text-align: center;
    margin: rem(100) auto;
    @include adaptiveValue("width", 400, 150, 991.98, 479.98, 1);
    @include adaptiveValue("heigth", 300, 150, 991.98, 479.98, 1);
    max-width: 60%;
    svg {
        max-width: 100%;
        circle {
            fill: $mainColor;
        }
    }
}
