.footer {
    padding-top: rem(50);
    &__top {
        justify-content: space-between;
        display: grid;
        grid-template-columns: repeat(4, rem(260));
        gap: rem(20);
        @include adaptiveValue("margin-bottom", 75, 35);
        @media (max-width: em(1170)) {
            grid-template-columns: repeat(4, 1fr);
        }
        @media (max-width: em(850)) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $mobileSmall) {
            grid-template-columns: 1fr;
        }
    }

    &__item {
    }

    &__label {
        @extend %p-lead_bold;
        transition: color 0.5s ease 0s;
        span {
            display: none;
            transition: transform 0.5s ease 0s;
            flex: 0 0 rem(26);
        }
        &._spoller-active {
            color: $blue;
            span {
                transform: rotate(-180deg);
            }
        }
        @media (max-width: $mobileSmall) {
            display: flex;
            justify-content: space-between;
            span {
                display: inline-flex;
            }
        }
    }

    &__list {
        @include adaptiveValue("padding-top", 25, 20);
        li {
            &:not(:last-child) {
                margin-bottom: rem(10);
            }
        }
    }

    &__link {
        @extend %p;
        color: $text_1;
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $blue;
            }
        }
    }

    &__bottom {
        border-top: rem(1) solid $light;
        box-shadow: rem(1) rem(4) rem(44) rgba(0, 0, 0, 0.03);
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include adaptiveValue("padding-top", 30, 20);
        @include adaptiveValue("padding-bottom", 30, 20);
        @media (max-width: $mobileSmall) {
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
        }
    }

    &__copy {
        @extend %p;
        color: $text_3;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $blue;
            }
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
            order: 2;
        }
    }

    &__social {
        display: flex;
        align-items: center;
        gap: rem(10);
        @media (min-width: em(1300)) {
            @include adaptiveValue("margin-right", 140, 10);
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
            order: 1;
            justify-content: center;
            margin-bottom: rem(10);
        }
    }

    &__social-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 rem(18);
        width: rem(18);
        transition: filter 0.3s ease 0s;
        img {
            max-width: 100%;
        }
        @media (any-hover: hover) {
            &:hover {
                filter: grayscale(1);
            }
        }
    }
}
