.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: $white;
    box-shadow: rem(1) rem(4) rem(44) rgba(0, 0, 0, 0);
    ._scroll & {
        box-shadow: rem(1) rem(4) rem(44) rgba(0, 0, 0, 0.03);
    }
    &__container {
        display: flex;
        align-items: center;
        min-height: rem(140);
        transition: min-height 0.8s ease 0s;
        ._scroll & {
            min-height: rem(80);
        }
        @media (max-width: $tablet) {
            min-height: rem(100);
        }
        @media (max-width: $mobile) {
            min-height: rem(70);
            ._scroll & {
                min-height: rem(70);
            }
        }
    }

    &__logo {
        position: relative;
        z-index: 25;
        flex: 0 0 rem(135);
        @include adaptiveValue("margin-right", 50, 20);
        @media (max-width: $tablet) {
            flex: 0 0 rem(100);
        }
        img {
            max-width: 100%;
        }
    }

    &__menu {
        flex: 1 1 auto;
    }

    &__actions {
        position: relative;
        z-index: 25;
        display: flex;
        align-items: center;
    }

    &__icon {
        @media (max-width: $mobile) {
            @include adaptiveValue("margin-left", 20, 15);
        }
    }
}

.menu {
    @media (max-width: $mobile) {
        &::after {
            content: "";
            background-color: $white;
            position: fixed;
            top: 0;
            right: rem(10);
            height: rem(80);
            min-width: rem(310);
            z-index: 21;
            transform: translate(100%, 0px);
            opacity: 0;
            visibility: hidden;
            transition: transform 0.5s ease 0s, opacity 0.5s ease 0s, visibility 0.5s ease 0s;
            @media (max-width: $mobileSmall) {
                width: 100%;
            }
            .menu-open & {
                transform: translate(0px, 0px);
                opacity: 1;
                visibility: visible;
            }
        }
    }
    &__body {
        @media (max-width: $mobile) {
            background-color: $white;
            position: relative;
            z-index: 20;
            position: fixed;
            min-width: rem(320);
            height: 100%;
            top: 0;
            right: 0;
            overflow: auto;
            padding: rem(80) rem(15) rem(30) rem(15);
            box-shadow: rem(1) rem(4) rem(44) rgba(0, 0, 0, 0.03);
            transform: translate(100%, 0px);
            opacity: 0;
            @include scrollbars(rem(10), $blue, $white, true);
            visibility: hidden;
            transition: transform 0.5s ease 0s, opacity 0.5s ease 0s, visibility 0.5s ease 0s;
            .menu-open & {
                transform: translate(0px, 0px);
                opacity: 1;
                visibility: visible;
            }
        }
        @media (max-width: $mobileSmall) {
            max-width: none;
            width: 100%;
        }
    }

    &__list {
        @media (min-width: $mobile) {
            display: flex;
            align-items: center;
        }
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @media (max-width: $mobile) {
            @include adaptiveValue("margin-bottom", 15, 5);
        }
        @media (any-hover: hover) {
            &:hover {
                .menu__link {
                    color: $blue;
                }
            }
        }
        @media (min-width: $mobile) {
            &:not(:last-child) {
                @include adaptiveValue("margin-right", 30, 10);
            }
        }
    }

    &__link {
        @extend %p;
        color: $text_1;
        transition: color 0.3s ease 0s;
        @media (max-width: $mobileSmall) {
            font-size: rem(18);
        }
    }

    &__arrow {
        margin-left: rem(5);
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.3s ease 0s;
        @extend %no-highlight;
        &._spoller-active {
            transform: rotate(-180deg);
        }
        &._spoller-active ~ .menu__sub-list {
            transform: translate(0px, 0px);
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
            .menu__arrow {
                transform: rotate(-180deg);
            }
            .menu__link {
                color: $blue;
            }
        }
        @media (max-width: $mobile) {
            img {
                width: rem(16);
                height: rem(16);
            }
        }
    }

    &__sub-list {
        background-color: $white;
        position: relative;
        flex: 1 1 100%;
        padding-left: rem(10);
        @media (min-width: $mobile) {
            box-shadow: rem(1) rem(4) rem(44) rgba(0, 0, 0, 0.03);
            padding: rem(10);
            margin: 0px rem(-10);
            pointer-events: none;
            min-width: rem(200);
            position: absolute;
            left: 0;
            top: 100%;
            z-index: 5;
            border-radius: rem(7);
            transition: transform 0.3s ease 0s, visibility 0.3s ease 0s, opacity 0.3s ease 0s;
            visibility: hidden;
            opacity: 0;
            ._loaded & {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &__sub-item {
        @media (max-width: $mobile) {
            margin-top: rem(3);
        }
    }

    &__sub-link {
        @extend %p;
        color: $text_1;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $blue;
            }
        }
    }
}

.actions-header {
    &__icon {
        position: relative;
        width: rem(18);
        height: rem(18);
        img {
            transition: opacity 0.3s ease 0s;
            max-width: 100%;
            @media (any-hover: hover) {
                &:hover {
                    opacity: 0.7;
                }
            }
        }
        span {
            @extend %cart-number;
        }
        @media (min-width: em(1300)) {
            transform: scale(1.5);
        }
        &_card {
            @include adaptiveValue("margin-right", 45, 15);
        }
    }

    &__favoutites {
        @include adaptiveValue("margin-right", 30, 15);
    }

    &__btn {
        @include adaptiveValue("min-width", 190, 120, 991.98, 479.98, 1);
        @media (max-width: $mobileSmall) {
            display: none;
        }
    }

    &__btn-icon {
        @media (min-width: $mobileSmall) {
            display: none;
        }
        img {
            width: rem(20);
            height: rem(20);
        }
    }
}

.favourites-header {
    &__icon {
        position: relative;
        width: rem(18);
        height: rem(18);
        img {
            transition: opacity 0.3s ease 0s;
            max-width: 100%;
            @media (any-hover: hover) {
                &:hover {
                    opacity: 0.7;
                }
            }
        }
        span {
            @extend %cart-number;
        }
        @media (min-width: em(1300)) {
            transform: scale(1.5);
        }
    }

    &__body {
        position: absolute;
        top: 100%;
        right: rem(20);
        border: rem(1) solid $light;
        border-radius: rem(10);
        background-color: $white;
        margin-top: rem(20);
        padding: rem(5) 0;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        transform: translate(10vw, 0px);
        transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0.3s ease 0s;
        @media (max-width: $tablet) {
            right: 0;
        }
        @media (max-width: $mobileSmall) {
            right: rem(-46);
        }
        &._active {
            transform: translate(0px, 0px);
            opacity: 1;
            visibility: visible;
        }
    }

    &__list {
        overflow: auto;
        max-height: rem(200);
        min-width: rem(290);
        box-shadow: rem(1) rem(4) rem(44) rgba(0, 0, 0, 0.03);
        @include scrollbars(rem(10), $blue, $white, true);
    }

    &__item {
        display: flex;
        justify-content: space-between;
        gap: rem(20);
        padding: rem(10) rem(15);
        &:not(:last-child) {
            border-bottom: rem(1) solid $light;
        }
    }

    &__info {
    }

    &__title {
        color: $text_1;
        transition: color 0.3s ease 0s;
        margin-bottom: rem(5);
        @media (any-hover: hover) {
            &:hover {
                color: $blue;
            }
        }
    }

    &__price {
        @extend %p;
        color: $blue;
        line-height: math.div(27, 15);
    }

    &__remove {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
}

//====================================================================================================

.icon-menu {
    display: none;
    @media (max-width: $mobile) {
        display: block;
        position: relative;
        width: rem(30);
        height: rem(20);
        cursor: pointer;
        z-index: 25;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        -webkit-tap-highlight-color: transparent;
        span,
        &::before,
        &::after {
            content: "";
            transition: all 0.3s ease 0s;
            right: 0;
            position: absolute;
            width: 100%;
            height: rem(2);
            background-color: $black;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        span {
            top: calc(50% - rem(1));
        }
        @media (any-hover: hover) {
            &:hover {
                span,
                &::before,
                &::after {
                    background-color: $blue;
                }
            }
        }
        .menu-open & {
            span {
                width: 0;
            }

            &::before {
                top: calc(50% - rem(1));
                transform: rotate(-45deg);
            }
            &::after {
                bottom: calc(50% - rem(1));
                transform: rotate(45deg);
            }
        }
    }
}
